body {
    color: white;
    background: linear-gradient(#1100ff, #170f5f);
}
.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.nameOfObjects, #resultObjectName, #resultObjectAccuracy {
    color: rgb(8, 8, 8);
}